:root {
  // Colors
  --primary-black: #111111;
  --primary-red: #f84757;
  --light-pink: #fdd1d5;
  --dark-red: #bb0716;
  --primary-white: #fff5f6;
  --dark-gray: #303030;
  --light-gray: #696969;
  --medium-gray: #919191;

  // Font sizes
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.3rem;
  --font-size-xl: 2.5rem;

  // Font families

  --font-family-poppins: "Poppins";
  --font-family-inter: "Inter";
  --font-family-montserrat: "Montserrat";
}
